.navbar-toggler[b-59umt27eld] {
    background-color: rgba(255, 255, 255, 0.1);
}
.logo[b-59umt27eld]{
    display:block;
}
.all[b-59umt27eld] {
    background-color: #222;
    display: flex;
    align-items: center;
    line-height: 14px;
    min-height: 40px;
    position: relative;
}

.containerAll[b-59umt27eld] {
    width: 100%;
    padding-left:10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.headContainer[b-59umt27eld] {
    display: flex;
   // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.top-row[b-59umt27eld] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}
.searhContainer[b-59umt27eld] {
    display: flex;
    align-items: center;
    justify-content: center;
    //width: calc(100% - 140px);
    width:70%;
}
.searchbox[b-59umt27eld] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}
.search[b-59umt27eld] {
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: 400;
    line-height: 1;
    padding: 0 10px 0 13px;
    width: 100%;
    height: 35px;

}

.navbar-brand[b-59umt27eld] {
    font-size: 1.1rem;
    width:220px;
}

.oi[b-59umt27eld] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-59umt27eld] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-59umt27eld] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-59umt27eld] {
        padding-bottom: 1rem;
    }

    .nav-item[b-59umt27eld]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-59umt27eld]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-59umt27eld]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-59umt27eld] {
        display: none;
    }

    .collapse[b-59umt27eld] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
